*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Open Sans';
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.container{
    width: 100%;
    height: 3290px;
    display: flex;
    flex-direction: column;

}
header{
    height: auto;
    width: 100%;
    background-image: linear-gradient(hsla(194, 57%, 77%, 0.301),
     hsla(194, 57%, 77%, 0.301)), url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header{
    height: 700px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
nav{
    /* height: 20vh; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 200px;
}
.logo img{
    height: 30px;
    width: 200px;
    
}
.try{
    width: 230px;
}
button{
    color: hsl(192, 100%, 9%);
    font-weight: 700;
    border: none;
    cursor: grab;
    border-radius: 30px;
    width: 230px;
    padding: 15px 0 15px 0;
    font-size: 16px;
    box-shadow: 1px 1px 6px hsl(192, 26%, 85%)
}
.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.text1{
    width: 40%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.build{
    text-transform: capitalize;
    font-size: 40px;
    color: hsl(192, 100%, 9%);
    font-weight: 600;
}
.text1 p{
    color: hsl(192, 100%, 9%);
}
p{
    font-size: 18px;
}
.img{
    width: 55%;
}
img{
    width: 100%;
}
.btn{
    background: hsl(322, 100%, 66%);
    text-transform: capitalize;
    font-size: 15px;
    color: white;
    width: 280px;
}
.btn:hover{
    background-color:hsla(322, 100%, 66%, 0.479) ;
}
main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 100px;
    bottom:250px;
    height: auto;
}
.main{
    width: 90%;
    height: 1480px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main1{
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px hsl(192, 15%, 80%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.main1 .text{
    height: 130px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.text .txt{
    height: 130px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main1 .text h1{
    width: 100%;
    color: hsl(192, 100%, 9%);
}
.main1 .text p{
    width: 100%;
    color: hsl( 208, 11%, 55%);
    font-size: 17px;
}
.imgGlow{
    width: 400px;
    margin-right: 30px;
}

.main2 .text{
    height: 130px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
}
.main2 .text h1{
    width: 100%;
    color: hsl(192, 100%, 9%);
}
.main2 .text p{
    width: 100%;
    color: hsl( 208, 11%, 55%);
    font-size: 17px;
}
.main2{
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px hsl(192, 15%, 80%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.imgGlow2{
    width: 400px;
    margin-left: 30px;
}
.conRea{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 300px;
    height: 250px;
}
.ready{
    z-index: 1;
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: none;
    border-radius:20px ;
    box-shadow: 0 1px 5px hsla(187, 4%, 46%, 0.678);
}
.reaH1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ready h1{
    text-transform: capitalize;
    font-size: 25px;
    color: hsl(192, 100%, 9%);
    font-weight: 600;
    width: auto;
}
.btnn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btnn .btn{
    background: hsl(322, 100%, 66%);
    text-transform: capitalize;
    color: white;
    width: 350px;
    border-radius: 50px;
    padding: 25px 0 25px 0;
    font-size: 18px;
}
.btnn .btn:hover{
    background-color:hsla(322, 100%, 66%, 0.479) ;
}
footer{
    height: 640px;
    width: 100%;
    background-color: hsl(192, 100%, 9%);
    position: relative;
    top: 220px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contain{
    width: 90%;
    height: 280px;
    color: hsl(209, 18%, 77%);
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hud{
    height: 280px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hud img{
    height: 25px;
    width: 18px;
}
.ic p{
    width: 88%;
}
.phn p{
    width: 88%;
}
.email p{
    width: 88%;
}
.hud .phn img{
    width:25px ;
}
.hud .email img{
    width:25px ;
}
#imgg{
    width: 230px;
    height: 35px;
}
.ic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.abt{
    height: 280px;
    width: 24%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.conAbt{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.o1st{
    width: 35%;

}
.t2nd{
    width: 30%;
}
.social{
    height: 280px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.soc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}
.soc .logoSoc{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}
.logg{
    display: flex;
    flex-direction: row;
}
.logoo{
    width: 21px;
    height: 21px;
    border: 1px solid white;
    padding: 7px;
    border-radius: 50px;
}
.cop p{
    font-size: 18px;
}
.logoo:hover{
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
}
li{
    list-style: none;
    margin-bottom: 20px
}
li a{
    color:hsl(209, 18%, 77%) ;
    text-decoration: none;;
}
@media (min-width:1242px) and (max-width:1400px) {
    .container{
        height: 2940px;
    }
  .header{
    height: 650px;
  }  
  .text1{
    height: 290px;
  }
  .text1 p{
    color: hsl(192, 100%, 9%);
    font-size: 15px;
  }
    .main{
        width: 90%;
        height: 1240px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .main1{
        height: 370px;
    }
    .main2{
        height: 370px;
    }
    .imgGlow{
        width: 350px;
    }
    .imgGlow2{
        width:350px;
    }
    .main1 .text{
        height: 130px;
        width: 50%;
    }
    .text .txt{
        height: 130px;
        width: 74.5%;
    }
    .main1 .text h1{
        width: 100%;
        display: flex;
        font-size: 30px;
    }
    .main1 .text p{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 15px;
    }
    .main2 .text{
        height: 130px;
        width: 50%;
    }
    .main2 .text h1{
        width: 100%;
        display: flex;
        font-size: 30px;
    }
    .main2 .text p{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 15px;
    }
    footer{
        height: 580px;
        width: 100%;
    }
    .ic p{
        font-size: 15.7px;
    }
    li a{
        font-size: 15.7px;
    }
    .contain{
        height: 250px;
    }
    .hud{
        height: 250px;
        width: 32%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .abt{
        height: 250px;
    }
    .social{
        height: 250px;
    }
    .hud img{
        height: 23px;
        width: 18px;
    }
    .hud .phn img{
        width:22px ;
    }
    .hud .email img{
        width:22px ;
    }
    .soc{
        height: 190px;
    }
    .logoo{
        width: 19px;
        height: 19px;
        border: 1px solid white;
        padding: 6px;
        border-radius: 50px;
    }
    .cop p{
        font-size: 15.7px;
    }
}
@media (min-width:1024px) and (max-width:1241px) {
    .container{
        height: 2400px;
    }
    .header{
      height: 560px;
    }  
    .text1{
      height: 255px;
    }
    .build{
        text-transform: capitalize;
        font-size: 33px;
        color: hsl(192, 100%, 9%);
    }
    .text1 p{
        color: hsl(192, 100%, 9%);
        font-size: 13px;
    }
    .btn{
        font-size: 15px;
        width: 250px;
    }
    
    .logo{
        width: 180px;
    }
    .logo img{
        height: 30px;
        width: 180px;
        
    }
    .try{
        width: 200px;
    }
    button{
        width: 200px;
        font-size: 15px;
        padding: 13px 0 13px 0;
    }
    .main{
        width: 90%;
        height: 1140px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .main1{
        height: 340px;
    }
    .main2{
        height: 340px;
    }
    .imgGlow{
        height: 300px;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .imgGlow2{ height: 300px;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main1 .text{
        height: 100px;
        width: 50%;
    }
    .text .txt{
        height: 100px;
        width: 72%;
    }
    .main1 .text h1{
        width: 100%;
        display: flex;
        font-size: 26px;
    }
    .main1 .text p{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 12.5px;
    }
    
    .main2 .text{
        height: 100px;
        width: 50%;
    }
    .main2 .text h1{
        width: 100%;
        display: flex;
        font-size: 26px;
    }
    .main2 .text p{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 12.5px;
    }
    footer{
        height: 500px;
        width: 100%;
    }
    .ic p{
        font-size: 12.8px;
    }
    li a{
        font-size: 12.8px;
    }
    #imgg{
        width: 200px;
        height: 33px;
  }
  .contain{
    height: 220px;
    }
    .hud{
        height: 220px;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .abt{
        height: 220px;
    }
    .social{
        height: 220px;
    }
    .hud img{
        height: 23px;
        width: 16px;
    }
    .hud .phn img{
        width:20px ;
    }
    .hud .email img{
        width:22px ;
    }
    .conRea{
        height: 220px;
    }
    .ready{
        height: 220px;
    }
.ready h1{
    text-transform: capitalize;
    font-size: 22px;
    color: hsl(192, 100%, 9%);
    font-weight: 600;
    width: auto;
}
.btnn .btn{
    background: hsl(322, 100%, 66%);
    text-transform: capitalize;
    color: white;
    width: 300px;
    border-radius: 50px;
    padding: 22px 0 22px 0;
    font-size: 17px;
}
.soc{
    height: 175px;
}
.logoo{
    width: 17px;
    height: 17px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 50px;
}
.cop p{
    font-size: 12.8px;
}
}
  @media (min-width:860px) and (max-width:1023px) {
    .container{
        height: 2300px;
    }
    .header{
      height: 480px;
    }  
    .text1{
      height: 220px;
    }
    .text1 h1{
        font-size: 27px;
    }
    .build{
        text-transform: capitalize;
        font-size: 23px;
        color: hsl(192, 100%, 9%);
    }
    .text1 p{
        color: hsl(192, 100%, 9%);
        font-size: 12px;
    }
    .btn{
        font-size: 12px;
        width: 180px;
    }
    .logo{
        width: 150px;
    }
    .logo img{
        height: 23px;
        width: 150px;
        
    }
    .try{
        width: 190px;
    }
    button{
        width: 190px;
        font-size: 14px;
        padding: 12px 0 12px 0;
    }
    .main{
        width: 90%;
        height: 920px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .main1{
        height: 270px;
    }
    .main2{
        height: 270px;
    }
    .imgGlow{
        height: 250px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .imgGlow2{
        height: 250px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main1 .text{
        height: 90px;
        width: 50%;
    }
    .text .txt{
        height: 80px;
        width: 82%;
    }
    .main1 .text h1{
        width: 100%;
        display: flex;
        font-size: 20px;
    }
    .main1 .text p{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 12px;
    }
    .main2 .text{
        height: 90px;
        width: 50%;
    }
    .main2 .text h1{
        width: 100%;
        display: flex;
        font-size: 20px;
    }
    .main2 .text p{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 12px;
    }
    footer{
        height: 470px;
        width: 100%;
    }
    .ic p{
        font-size: 11px;
    }
    li a{
        font-size: 11px;
    }
    #imgg{
        width: 190px;
        height: 31px;
   }
  
  .contain{
    height: 200px;
    }
    .hud{
        height: 200px;
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .abt{
        height: 200px;
    }
    .social{
        height: 200px;
    }
    .hud img{
        height: 21px;
        width: 15px;
    }
    .hud .phn img{
        width:20px ;
    }
    .hud .email img{
        width:21px;
    }
    
    .conRea{
        height: 210px;
    }
    .ready{
        height: 210px;
    }
    .ready h1{
        text-transform: capitalize;
        font-size: 19px;
        color: hsl(192, 100%, 9%);
        font-weight: 600;
        width: auto;
    }
    .btnn .btn{
        background: hsl(322, 100%, 66%);
        text-transform: capitalize;
        color: white;
        width: 285px;
        border-radius: 50px;
        padding: 22px 0 22px 0;
        font-size: 13px;
    }
    .soc{
        height: 160px;
    }
    .logoo{
        width: 16px;
        height: 16px;
        border: 1px solid white;
        padding: 4px;
        border-radius: 50px;
    }
    .cop p{
        font-size: 11px;
    }
  }

  @media (min-width:767px) and (max-width:859px) {
    .container{
        height: 2177px;
    }
    .header{
      height: 430px;
    }  
    .text1{
      height: 200px;
    }
    .text1 h1{
        font-size: 23px;
      }
    .build{
        text-transform: capitalize;
        font-size: 23px;
        color: hsl(192, 100%, 9%);
    }
    .text1 p{
        color: hsl(192, 100%, 9%);
        font-size: 10px;
    }
    .btn{
        font-size: 12px;
        width: 180px;
    }
    .logo{
        width: 140px;
    }
    .logo img{
        height: 20px;
        width: 140px;
        
    }
    .try{
        width: 170px;
    }
    button{
        width: 170px;
        font-size: 14px;
        padding: 11px 0 11px 0;
    }
    .main{
        width: 90%;
        height: 920px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .main1{
        height: 270px;
    }
    .main2{
        height: 270px;
    }
    .imgGlow{
        height: 250px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .imgGlow2{
        height: 250px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main1 .text{
        height: 80px;
        width: 50%;
    }
    .text .txt{
        height: 80px;
        width: 82%;
    }
    .main1 .text h1{
        width: 100%;
        font-size: 20px;
        display: flex;
    }
    .main1 .text p{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 10px;

    }
    .main2 .text{
        height: 80px;
        width: 50%;
    }
    .main2 .text h1{
        width: 100%;
        font-size: 20px;
        display: flex;
    }
    .main2 .text p{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 10px;
    }
    footer{
        height: 420px;
        width: 100%;
    }
    .ic p{
        font-size: 9px;
    }
    li a{
        font-size: 9px;
    }
    #imgg{
        width: 180px;
        height: 30px;
   }
  
  .contain{
    height: 180px;
    }
    .hud{
        height: 180px;
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .abt{
        height: 180px;
    }
    .social{
        height: 180px;
    }
    
    .hud img{
        height: 20px;
        width: 16px;
    }
    .hud .phn img{
        width:19px ;
    }
    .hud .email img{
        width:21px;
    }
    .conRea{
        height: 190px;
    }
    .ready{
        height: 190px;
    }
    .ready h1{
        font-size: 17px;
    }
    .btnn .btn{
        font-size: 12px;
    }
    .soc{
        height: 150px;
    }
    .logoo{
        width: 13px;
        height: 13px;
        border: 1px solid white;
        padding: 3px;
        border-radius: 50px;
    }
    .cop p{
        font-size: 9px;
    }
  }


