*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Open Sans';
}
.cha{
    display: none;
}
.main .mainP{
    display: none;
}
.buildP{
    display: none;
}
.btnMob{
    display: none;
}
.build1{
    display: none;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.container{
    width: 100%;
    height: 3290px;
    display: flex;
    flex-direction: column;

}
header{
    height: 700px;
    width: 100%;
    background-image: linear-gradient(hsla(194, 57%, 77%, 0.301),
     hsla(194, 57%, 77%, 0.301)), url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header{
    /* height: 700px; */
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
nav{
    /* height: 20vh; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 200px;
}
.logo img{
    height: 30px;
    width: 200px;
    
}
.try{
    width: 230px;
}
button{
    color: hsl(192, 100%, 9%);
    font-weight: 700;
    border: none;
    cursor: grab;
    border-radius: 30px;
    width: 230px;
    padding: 15px 0 15px 0;
    font-size: 16px;
    box-shadow: 1px 1px 6px hsl(192, 26%, 85%)
}
.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.text1{
    width: 40%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.build{
    text-transform: capitalize;
    font-size: 40px;
    color: hsl(192, 100%, 9%);
    font-weight: 600;
}
.text1 p{
    color: hsl(192, 95%, 7%);
}
p{
    font-size: 18px;
}
.img{
    width: 55%;
}
img{
    width: 100%;
}
.btn{
    background: hsl(322, 100%, 66%);
    text-transform: capitalize;
    font-size: 15px;
    color: white;
    width: 280px;
}
.btn:hover{
    background-color:hsla(322, 100%, 66%, 0.479) ;
}
main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 100px;
    bottom:250px;
    height: auto;
}
.main{
    width: 90%;
    height: 1480px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main1{
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px hsl(192, 15%, 80%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.main1 .text{
    height: 130px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.text .txt{
    height: 130px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main1 .text h1{
    width: 100%;
    color: hsl(192, 100%, 9%);
}
.main1 .text p{
    width: 100%;
    color: hsl(210, 14%, 62%);
    font-size: 17px;
}
.imgGlow{
    width: 400px;
    margin-right: 30px;
}

.main2 .text{
    height: 130px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
}
.main2 .text h1{
    width: 100%;
    color: hsl(192, 100%, 9%);
}
.main2 .text p{
    width: 100%;
    color: hsl( 2010, 14%, 62%);
    font-size: 17px;
}
.main2{
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px hsl(192, 15%, 80%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.imgGlow2{
    width: 400px;
    margin-left: 30px;
}
.conRea{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 300px;
    height: 250px;
}
.ready{
    z-index: 1;
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: none;
    border-radius:20px ;
    box-shadow: 0 1px 5px hsla(187, 4%, 46%, 0.678);
}
.reaH1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ready h1{
    text-transform: capitalize;
    font-size: 25px;
    color: hsl(192, 100%, 9%);
    font-weight: 600;
    width: auto;
}
.btnn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btnn .btn{
    background: hsl(322, 100%, 66%);
    text-transform: capitalize;
    color: white;
    width: 350px;
    border-radius: 50px;
    padding: 25px 0 25px 0;
    font-size: 18px;
}
.btnn .btn:hover{
    background-color:hsla(322, 100%, 66%, 0.479) ;
}
footer{
    height: 640px;
    width: 100%;
    background-color: hsl(192, 100%, 9%);
    position: relative;
    top: 220px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contain{
    width: 90%;
    height: 280px;
    color: hsl(209, 18%, 77%);
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hud{
    height: 280px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hud img{
    height: 25px;
    width: 18px;
}
.ic p{
    width: 88%;
}
.phn p{
    width: 88%;
}
.email p{
    width: 88%;
}
.hud .phn img{
    width:25px ;
}
.hud .email img{
    width:25px ;
}
#imgg{
    width: 230px;
    height: 35px;
}
.ic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.abt{
    height: 280px;
    width: 24%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.conAbt{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.o1st{
    width: 35%;

}
.t2nd{
    width: 30%;
}
.social{
    height: 280px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.soc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}
.soc .logoSoc{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}
.logg{
    display: flex;
    flex-direction: row;
}
.logoo{
    width: 21px;
    height: 21px;
    border: 1px solid white;
    padding: 7px;
    border-radius: 50px;
}
.cop p{
    font-size: 18px;
}
.logoo:hover{
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
}
li{
    list-style: none;
    margin-bottom: 20px
}
li a{
    color:hsl(209, 18%, 77%) ;
    text-decoration: none;;
}
@media (min-width:1242px) and (max-width:1400px) {
    .container{
        height: 2940px;
    }
    header{
        height: auto;
    }
     .mainP{
        display: none;
    }
  .header{
    height: 650px;
  }  
  .text1{
    height: 290px;
  }
  .text1 p{
    color: hsl(192, 100%, 9%);
    font-size: 15px;
  }
    .main{
        width: 90%;
        height: 1240px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .main1{
        height: 370px;
    }
    .main2{
        height: 370px;
    }
    .imgGlow{
        width: 350px;
    }
    .imgGlow2{
        width:350px;
    }
    .main1 .text{
        height: 130px;
        width: 50%;
    }
    .text .txt{
        height: 115px;
        width: 74.5%;
    }
    .main1 .text h1{
        width: 100%;
        display: flex;
        font-size: 30px;
    }
    .main1 .text .pip{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 15px;
    }
    .main2 .text{
        height: 130px;
        width: 50%;
    }
    .main2 .text h1{
        width: 100%;
        display: flex;
        font-size: 30px;
    }
    .main2 .text p{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 15px;
    }
    footer{
        height: 580px;
        width: 100%;
    }
    .ic p{
        font-size: 15.7px;
    }
    li a{
        font-size: 15.7px;
    }
    .contain{
        height: 250px;
    }
    .hud{
        height: 250px;
        width: 32%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .abt{
        height: 250px;
    }
    .social{
        height: 250px;
    }
    .hud img{
        height: 23px;
        width: 18px;
    }
    .hud .phn img{
        width:22px ;
    }
    .hud .email img{
        width:22px ;
    }
    .soc{
        height: 190px;
    }
    .logoo{
        width: 19px;
        height: 19px;
        border: 1px solid white;
        padding: 6px;
        border-radius: 50px;
    }
    .cop p{
        font-size: 15.7px;
    }
}
@media (min-width:1024px) and (max-width:1241px) {
    .container{
        height: 2565px;
    }
    .main .mainP{
        display: none;
    }
    header{
        height: auto;
    }
    .header{
      height: 560px;
    }  
    .text1{
      height: 255px;
    }
    .build{
        text-transform: capitalize;
        font-size: 33px;
        color: hsl(192, 100%, 9%);
    }
    .text1 p{
        color: hsl(192, 100%, 9%);
        font-size: 13px;
    }
    .btn{
        font-size: 15px;
        width: 250px;
    }
    
    .logo{
        width: 180px;
    }
    .logo img{
        height: 30px;
        width: 180px;
        
    }
    .try{
        width: 200px;
    }
    button{
        width: 200px;
        font-size: 15px;
        padding: 13px 0 13px 0;
    }
    .main{
        width: 90%;
        height: 1140px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .main1{
        height: 340px;
    }
    .main2{
        height: 340px;
    }
    .imgGlow{
        height: 300px;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .imgGlow2{ height: 300px;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main1 .text{
        height: 100px;
        width: 50%;
    }
    .text .txt{
        height: 95px;
        width: 72%;
    }
    .main1 .text h1{
        width: 100%;
        display: flex;
        font-size: 26px;
    }
    .main1 .text .pip{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 12.5px;
    }
    
    .main2 .text{
        height: 100px;
        width: 50%;
    }
    .main2 .text h1{
        width: 100%;
        display: flex;
        font-size: 26px;
    }
    .main2 .text p{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 12.5px;
    }
    footer{
        height: 500px;
        width: 100%;
        top: 145px;
    }
    .ic p{
        font-size: 12.8px;
    }
    li a{
        font-size: 12.8px;
    }
    #imgg{
        width: 200px;
        height: 33px;
  }
  .contain{
    height: 220px;
    }
    .hud{
        height: 220px;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .abt{
        height: 220px;
    }
    .social{
        height: 220px;
    }
    .hud img{
        height: 23px;
        width: 16px;
    }
    .hud .phn img{
        width:20px ;
    }
    .hud .email img{
        width:22px ;
    }
    .conRea{
        height: 220px;
        top: 210px;
    }
    .ready{
        height: 220px;
    }
.ready h1{
    text-transform: capitalize;
    font-size: 22px;
    color: hsl(192, 100%, 9%);
    font-weight: 600;
    width: auto;
}
.btnn .btn{
    width: 300px;
    padding: 22px 0 22px 0;
    font-size: 17px;
}
.soc{
    height: 175px;
}
.logoo{
    width: 17px;
    height: 17px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 50px;
}
.cop p{
    font-size: 12.8px;
}
}
  @media (min-width:860px) and (max-width:1023px) {
    .container{
        height: 2210px;
    }
    .main .mainP{
        display: none;
    }
    header{
        height: auto;
    }
    .header{
      height: 480px;
    }  
    .text1{
      height: 220px;
    }
    .text1 h1{
        font-size: 27px;
    }
    .build{
        text-transform: capitalize;
        font-size: 23px;
        color: hsl(192, 100%, 9%);
    }
    .text1 p{
        color: hsl(192, 100%, 9%);
        font-size: 12px;
    }
    .btn{
        font-size: 12px;
        width: 180px;
    }
    .logo{
        width: 150px;
    }
    .logo img{
        height: 23px;
        width: 150px;
        
    }
    .try{
        width: 190px;
    }
    .try button{
        padding: 10.5px 0 10.5px 0;
        font-size: 12px;
    }
    button{
        width: 190px;
        font-size: 14px;
        padding: 12px 0 12px 0;
    }
    .main{
        width: 90%;
        height: 920px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .main1{
        height: 270px;
    }
    .main2{
        height: 270px;
    }
    .imgGlow{
        height: 250px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .imgGlow2{
        height: 250px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main1 .text{
        height: 90px;
        width: 50%;
    }
    .text .txt{
        height: 90px;
        width: 82%;
    }
    .main1 .text h1{
        width: 100%;
        display: flex;
        font-size: 20px;
    }
    .main1 .text .pip{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 12px;
    }
    .main2 .text{
        height: 90px;
        width: 50%;
    }
    .main2 .text h1{
        width: 100%;
        display: flex;
        font-size: 20px;
    }
    .main2 .text p{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 12px;
    }
    footer{
        height: 470px;
        width: 100%;
        top: 130px;
    }
    .ic p{
        font-size: 11px;
    }
    li a{
        font-size: 11px;
    }
    #imgg{
        width: 190px;
        height: 31px;
   }
  
  .contain{
    height: 200px;
    }
    .hud{
        height: 200px;
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .abt{
        height: 200px;
    }
    .social{
        height: 200px;
    }
    .hud img{
        height: 21px;
        width: 15px;
    }
    .hud .phn img{
        width:20px ;
    }
    .hud .email img{
        width:21px;
    }
    
    .conRea{
        height: 210px;
        top: 200px;
    }
    .ready{
        height: 210px;
    }
    .ready h1{
        text-transform: capitalize;
        font-size: 19px;
        color: hsl(192, 100%, 9%);
        font-weight: 600;
        width: auto;
    }
    .btnn .btn{
        background: hsl(322, 100%, 66%);
        text-transform: capitalize;
        color: white;
        width: 270px;
        border-radius: 50px;
        padding: 19px 0 19px 0;
        font-size: 13px;
    }
    .soc{
        height: 160px;
    }
    .logoo{
        width: 16px;
        height: 16px;
        border: 1px solid white;
        padding: 4px;
        border-radius: 50px;
    }
    .cop p{
        font-size: 11px;
    }
  }

  @media (min-width:769px) and (max-width:859px) {
    .container{
        height: 2007px;
    }
    .main .mainP{
        display: none;
    }
    header{
        height: auto;
    }
    .header{
      height: 430px;
    }  
    .text1{
      height: 170px;
    }
    .text1 h1{
        font-size: 24px;
      }
    .build{
        text-transform: capitalize;
        font-size: 23px;
        color: hsl(192, 100%, 9%);
    }
    .text1 p{
        color: hsl(192, 100%, 9%);
        font-size: 10px;
    }
    .btn{
        font-size: 12px;
        width: 180px;
    }
    .logo{
        width: 140px;
    }
    .logo img{
        height: 20px;
        width: 140px;
        
    }
    .try{
        width: 170px;
    }
    .try button{
        padding: 10.5px 0 10.5px 0;
        font-size: 12px;
    }
    button{
        width: 170px;
        font-size: 14px;
        padding: 11px 0 11px 0;
    }
    main{
        top: 80px;
    }
    .main{
        width: 90%;
        height: 920px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .main1{
        height: 270px;
    }
    .main2{
        height: 270px;
    }
    .imgGlow{
        height: 250px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .imgGlow2{
        height: 250px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main1 .text{
        height: 80px;
        width: 50%;
    }
    .text .txt{
        height: 80px;
        width: 82%;
    }
    .main1 .text h1{
        width: 100%;
        font-size: 20px;
        display: flex;
    }
    .main1 .text .pip{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 10px;

    }
    .main2 .text{
        height: 80px;
        width: 50%;
    }
    .main2 .text h1{
        width: 100%;
        font-size: 20px;
        display: flex;
    }
    .main2 .text p{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 10px;
    }
    footer{
        height: 420px;
        width: 100%;
        top: 99px;
    }
    .ic p{
        font-size: 9px;
    }
    li a{
        font-size: 9px;
    }
    #imgg{
        width: 180px;
        height: 30px;
   }
  
  .contain{
    height: 180px;
    }
    .hud{
        height: 180px;
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .abt{
        height: 180px;
    }
    .social{
        height: 180px;
    }
    
    .hud img{
        height: 20px;
        width: 16px;
    }
    .hud .phn img{
        width:19px ;
    }
    .hud .email img{
        width:21px;
    }
    .conRea{
        height: 190px;
        top: 170px;
    }
    .ready{
        height: 190px;
    }
    .ready h1{
        font-size: 17px;
    }
    .btnn .btn{
        font-size: 12px;
        padding: 14px 0 14px 0;
        width: 250px;
    }
    .soc{
        height: 150px;
    }
    .logoo{
        width: 13px;
        height: 13px;
        border: 1px solid white;
        padding: 3px;
        border-radius: 50px;
    }
    .cop p{
        font-size: 9px;
    }
  }
  @media (min-width:671px) and (max-width:768px) {
    .container{
        height: 1645px;
    }
    .main .mainP{
        display: none;
    }
    header{
        height: auto;
    }
    .header{
      height: 380px;
    }  
    .text1{
      height: 160px;
    }
    .text1 h1{
        font-size: 22px;
      }
    .build{
        text-transform: capitalize;
        font-size: 23px;
        color: hsl(192, 100%, 9%);
    }
    .text1 p{
        color: hsl(192, 100%, 9%);
        font-size: 8px;
    }
    .btn{
        font-size: 10px;
        width: 160px;
    }
    .logo{
        width: 140px;
    }
    .logo img{
        height: 20px;
        width: 140px;
        
    }
    .try{
        width: 170px;
    }
    .try button{
        padding: 11px 0 11px 0;
        font-size: 9px;
    }
    button{
        width: 170px;
        font-size: 14px;
        padding: 11px 0 11px 0;
    }
    main{
        top: 50px;
    }
    .main{
        width: 90%;
        height: 660px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .main1{
        height: 190px;
    }
    .main2{
        height: 190px;
    }
    .imgGlow{
        height: 220px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .imgGlow img{
        height: 160px;
        width: 200px;
    }
    .imgGlow2{
        height: 250px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .imgGlow2 img{
        height: 160px;
        width: 200px;
    }
    .main1 .text{
        height: 80px;
        width: 50%;
    }
    .text .txt{
        height: 65px;
        width: 82%;
    }
    .main1 .text h1{
        width: 100%;
        font-size: 16px;
        display: flex;
    }
    .main1 .text .pip{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 8px;

    }
    .main2 .text{
        height: 80px;
        width: 50%;
    }
    .main2 .text h1{
        width: 100%;
        font-size: 16px;
        display: flex;
    }
    .main2 .text p{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 8px;
    }
    footer{
        height: 350px;
        width: 100%;
        top: 65px;
    }
    .ic p{
        font-size: 8px;
    }
    li a{
        font-size: 8px;
    }
    #imgg{
        width: 140px;
        height: 23px;
   }
  
  .contain{
    height: 140px;
    }
    .hud{
        height: 140px;
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .abt{
        height: 140px;
    }
    .social{
        height: 140px;
    }
    
    .hud img{
        height: 12px;
        width: 9px;
    }
    .hud .phn img{
        width:12px ;
    }
    .hud .email img{
        width:14px;
    }
    .conRea{
        height: 190px;
        top: 150px;
    }
    .ready{
        height: 150px;
    }
    .ready h1{
        font-size: 15px;
    }
    .btnn .btn{
        font-size: 11px;
        padding: 13px 0 13px 0;
        width: 220px;
    }
    .soc{
        height: 148px;
    }
    .logoo{
        width: 10px;
        height: 10px;
        border: 1px solid white;
        padding: 3px;
        border-radius: 50px;
    }
    .cop p{
        font-size: 8px;
    }
  }
  @media (min-width:600px) and (max-width:670px) {
    .container{
        height: 1501px;
    }
    .main .mainP{
        display: none;
    }
    header{
        height: auto;
    }
    .header{
      height: 350px;
    }  
    .text1{
      height: 140px;
    }
    .text1 h1{
        font-size: 19px;
      }
    .build{
        text-transform: capitalize;
        font-size: 23px;
        color: hsl(192, 100%, 9%);
    }
    .text1 p{
        color: hsl(192, 100%, 9%);
        font-size: 7px;
    }
    .try button{
        padding: 9px 0 9px 0;
        font-size: 8px;
    }
    .btn{
        font-size: 8px;
        width: 160px;
        padding: 9px 0 9px 0;
    }
    .logo{
        width: 140px;
    }
    .logo img{
        height: 20px;
        width: 140px;
        
    }
    .try{
        width: 170px;
    }
    button{
        width: 165px;
        padding: 11px 0 11px 0;
    }
    main{
        top: 50px;
    }
    .main{
        width: 90%;
        height: 660px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .main1{
        height: 190px;
    }
    .main2{
        height: 190px;
    }
    .imgGlow{
        height: 220px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .imgGlow img{
        height: 160px;
        width: 200px;
    }
    .imgGlow2{
        height: 250px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .imgGlow2 img{
        height: 160px;
        width: 200px;
    }
    .main1 .text{
        height: 80px;
        width: 50%;
    }
    .text .txt{
        height: 60px;
        width: 82%;
    }
    .main1 .text h1{
        width: 100%;
        font-size: 14px;
        display: flex;
    }
    .main1 .text .pip{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 8px;

    }
    .main2 .text{
        height: 80px;
        width: 50%;
    }
    .main2 .text h1{
        width: 100%;
        font-size: 14px;
        display: flex;
    }
    .main2 .text p{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 8px;
    }
    footer{
        height: 280px;
        width: 100%;
        top: 32px;
    }
    .ic p{
        font-size: 7px;
    }
    li a{
        font-size: 7px;
    }
    #imgg{
        width: 120px;
        height: 20px;
   }
  
  .contain{
    height: 115px;
    }
    .hud{
        height: 115px;
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .abt{
        height: 115px;
    }
    .social{
        height: 115px;
    }
    
    .hud img{
        height: 13px;
        width: 9px;
    }
    .hud .phn img{
        width:12px ;
    }
    .hud .email img{
        width:14px;
    }
    .conRea{
        height: 180px;
        top: 120px;
    }
    .ready{
        height: 130px;
    }
    .ready h1{
        font-size: 11px;
    }
    .btnn .btn{
        font-size: 10px;
        padding: 10px 0 10px 0;
        width: 150px;
    }
    .soc{
        height: 148px;
    }
    .logoo{
        width: 8px;
        height: 8px;
        border: 1px solid white;
        padding: 2px;
        border-radius: 50px;
    }
    .cop p{
        font-size: 7px;
    }
  }
  @media (min-width:375px) and (max-width:430px) {
    .main2 h1{
        font-size: 1px;
    }
    .container{
    height: 3310px;
    }
    .buildpp{
    display: none;
    }
    .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
    header{
        height: 730px;
        width: 100%;
        background-image: linear-gradient(hsla(195, 67%, 88%, 0.568),
         hsla(194, 57%, 77%, 0.301)), url(./images/bg-hero-mobile.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .header{
        justify-content: space-evenly;
    }
    .try{
        width: 120px;
    }
    .try button{
        box-shadow: 1px 1px 4px hsl(193, 15%, 75%)
    }
    .btn{
        width: 50px;
    }.content{
        height: 580px;
    }
    nav{
        height: 40px;
        align-items: start;
    }
    .logo{
        height: 18px;
    }
    .logo img{
        width: 110px;
        height: 16px;
    }
    .try button {
        width: 120px;
        font-size: 11px;
        font-weight: 700;
        padding: 7px 0 7px 0;
    }.text1{
        width: 97%;
        height: 300px;
    }
    .build{
        display: none;
    }
    .build1{
        justify-content: center;
        display: inherit;
        text-transform: capitalize;
        font-size: 24px;
        color: hsl(192, 100%, 9%);
        font-weight: 600;
        text-align: center
    }
    .buildP {
        display: inline;
        font-size: 17.5px;
        justify-content: center;
        text-align: center;
    }
    .text1 .btn{
        display: none;
    }
    .btnMob{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .btnMob .btnn{ 
    background: hsl(322, 100%, 66%);
    text-transform: capitalize;
    padding: 10px 0 10px 0;
    font-size: 13px;
    color: white;
    width: 78%;
    }
    .img{
        width: 90%;
    }
    img{
        width: 100%;
    }
    main{
        height: 1560px;
    }
    .main{
        height: 1560px;
        width: 89%;
    }
    .main2{
        flex-direction: column;
        justify-content: space-evenly;
        height: 480px;
    }
    .main2 h1{
        font-size: 24px;
        text-align: center;
    }
    
    .main1{
        flex-direction: column;
        justify-content: space-evenly;
        height: 480px;
    }
    .main1 h1{
        font-size: 24px;
        text-align: center;
    }
    .main .text{
        width: 85%;
        height: 155px;
        margin: 0;
        align-items: center;

    }
    .main .text .txt{
        width: 100%;
        /* height: 155px;/ */
    }
    .glow .txt{
        height: 135px;
    }
    
    .flowing .txt{
        height: 118px;
    }
    .main .pip{
        display: none;
    }
    .main .txt .mainP{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        text-align: center;
    }
    .main .imgGlow{
        width: 72%;
        height: 200px;
        margin-right: 0;
    }
    .main .imgGlow2{
        width: 72%;
        height: 200px;
        margin-left: 0;
    }
    main{
        top: 55px;
    }
    .conRea{
        top:150px;
        height: 150px;
    }
    .ready{
        width: 90%;
        height: 150px;
    }
    .ready h1{
        font-size: 18px;
    }
    .btnn .btn{
        padding: 13px 0 13px 0;
        width: 70%;
        font-size: 12px;
    }
    footer{
        top: 90px;
        height: 780px;
        justify-content: flex-end;
        flex-direction: column;
    }
    .contain{
        flex-direction: column;
        height: 640px;
        justify-content: space-between;
    }
    .hud{
        width: 100%;
        height:220px ;
    }
    .hud #imgg{
        width: 175px;
        height: 27px;
    }
    .abt{
        width: 100%;
        height:240px ;
    }
    .social{
        width: 100%;
        height:70px ;
    }
    .ic p{
        font-size: 15px;
        width: 100%;
    }
    .hud .ic p{
        width: 90%;
    }
    .hud img{
        width: 12px;
        height: 17px;
    }
    .hud .phn img{
        width: 16px;
        height: 18px;
    }
    .hud .email img{
        width: 18px;
        height: 16px;
    }
    .conAbt{
        flex-direction: column;
        font-size: 18px;
        height:240px ;
    }
    #lii{
        margin-bottom: 0;
    }
    .soc{
        width: 100%;
    }
    .soc .logoSoc{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .logoSoc .logg{
        width: 40%;
    }
    .logg li{
        margin-bottom: 0;
    }
    .logoo{
    width: 16px;
    height: 16px;
    }
    .cop p {
        font-size: 14px;
        text-align: center;
    }
    .cha{
        flex-direction: column;
        justify-content: flex-end;
        display: flex;
    }
    .cha p{
        font-size: 10px;
        text-align: center;
        color: white;
    }
    .cha span a{
        color:hsl( 208, 11%, 55%);
        text-decoration: none;
    }
  } 
  @media (min-width:342px) and (max-width:375px) {
    .container{
        height: 3280px;

    }
    .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
    header{
        height: 700px;
        width: 100%;
        background-image: linear-gradient(hsla(195, 67%, 88%, 0.568),
         hsla(194, 57%, 77%, 0.301)), url(./images/bg-hero-mobile.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .header{
        justify-content: space-evenly;
    }
    .try{
        width: 120px;
    }
    .try button{
        box-shadow: 1px 1px 4px hsl(193, 15%, 75%)
    }
    .btn{
        width: 50px;
    }.content{
        height: 540px;
    }
    nav{
        height: 70px;
        align-items: start;
    }
    .logo{
        height: 18px;
    }
    .logo img{
        width: 110px;
        height: 16px;
    }
    .try button {
        width: 120px;
        font-size: 11px;
        font-weight: 700;
        padding: 7px 0 7px 0;
    }.text1{
        width: 97%;
        height: 300px;
    }
    .build{
        display: none;
    }
    .buildpp{
    display: none;
    }
    .build1{
        justify-content: center;
        display: inherit;
        text-transform: capitalize;
        font-size: 24px;
        color: hsl(192, 100%, 9%);
        font-weight: 600;
        text-align: center
    }
    .buildP {
        display: inline;
        font-size: 16px;
        justify-content: center;
        text-align: center;
    }
    .text1 .btn{
        display: none;
    }
    .btnMob{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .btnMob .btnn{ 
    background: hsl(322, 100%, 66%);
    text-transform: capitalize;
    padding: 10px 0 10px 0;
    font-size: 13px;
    color: white;
    width: 78%;
    }
    .img{
        width: 90%;
    }
    img{
        width: 100%;
    }
    main{
        height: 1560px;
    }
    .main{
        height: 1560px;
        width: 89%;
    }
    .main2{
        flex-direction: column;
        justify-content: space-evenly;
        height: 480px;
    }
    .main2 h1{
        font-size: 20px;
        text-align: center;
    }
    
    .main1{
        flex-direction: column;
        justify-content: space-evenly;
        height: 480px;
    }
    .main1 h1{
        font-size: 20px;
        text-align: center;
    }
    .main .text{
        width: 85%;
        height: 155px;
        margin: 0;
        align-items: center;

    }
    .main .text .txt{
        width: 100%;
        /* height: 155px;/ */
    }
    .glow .txt{
        height: 135px;
    }
    
    .flowing .txt{
        height: 118px;
    }
    .main .pip{
        display: none;
    }
    .main .txt .mainP{
        display: flex;
        flex-direction: column;
        font-size: 13px;
        text-align: center;
    }
    .main .imgGlow{
        width: 72%;
        height: 200px;
        margin-right: 0;
    }
    .main .imgGlow2{
        width: 72%;
        height: 200px;
        margin-left: 0;
    }
    main{
        top: 55px;
    }
    .conRea{
        top:150px;
        height: 150px;
    }
    .ready{
        width: 90%;
        height: 150px;
    }
    .ready h1{
        font-size: 16.5px;
    }
    .btnn .btn{
        padding: 13px 0 13px 0;
        width: 70%;
        font-size: 10px;
    }
    footer{
        top: 90px;
        height: 780px;
        justify-content: flex-end;
        flex-direction: column;
    }
    .contain{
        flex-direction: column;
        height: 640px;
        justify-content: space-between;
    }
    .hud{
        width: 100%;
        height:220px ;
    }
    .hud #imgg{
        width: 160px;
        height: 25px;
    }
    .abt{
        width: 100%;
        height:240px ;
    }
    .social{
        width: 100%;
        height:70px ;
    }
    .ic p{
        font-size: 14px;
        width: 100%;
    }
    .hud .ic p{
        width: 90%;
    }
    .hud img{
        width: 12px;
        height: 17px;
    }
    .hud .phn img{
        width: 16px;
        height: 18px;
    }
    .hud .email img{
        width: 18px;
        height: 16px;
    }
    .conAbt{
        flex-direction: column;
        font-size: 16px;
        height:230px ;
    }
    #lii{
        margin-bottom: 0;
    }
    .soc{
        width: 100%;
    }
    .soc .logoSoc{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .logoSoc .logg{
        width: 40%;
    }
    .logg li{
        margin-bottom: 0;
    }
    .logoo{
    width: 15px;
    height: 15px;
    }
    .cop p {
        font-size: 12px;
        text-align: center;
    }
    .cha{
        flex-direction: column;
        justify-content: flex-end;
        display: flex;
    }
    .cha p{
        font-size: 10px;
        text-align: center;
        color: white;
    }
    .cha span a{
        color:hsl( 208, 11%, 55%);
        text-decoration: none;
    }
}
  @media (min-width:280px) and (max-width:341px) {
    
    .container{
        height: 3190px;
    }
    .buildpp{
    display: none;
    }
    .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
    header{
        height: 620px;
        width: 100%;
        background-image: linear-gradient(hsla(195, 67%, 88%, 0.568),
         hsla(194, 57%, 77%, 0.301)), url(./images/bg-hero-mobile.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .header{
        justify-content: space-evenly;
    }
    .try{
        width: 120px;
    }
    .try button{
        box-shadow: 1px 1px 4px hsl(193, 15%, 75%)
    }
    .btn{
        width: 50px;
    }.content{
        height: 500px;
    }
    nav{
        height: 40px;
    }
    .logo{
        height: 18px;
    }
    .logo img{
        width: 110px;
        height: 16px;
    }
    .try button {
        width: 120px;
        font-size: 10px;
        font-weight: 700;
        padding: 6px 0 6px 0;
    }.text1{
        width: 97%;
        height: 280px;
    }
    .build{
        display: none;
    }
    .build1{
        justify-content: center;
        display: inherit;
        text-transform: capitalize;
        font-size: 23px;
        color: hsl(192, 100%, 9%);
        font-weight: 600;
        text-align: center
    }
    .buildP {
        display: inline;
        font-size: 13px;
        justify-content: center;
        text-align: center;
    }
    .text1 .btn{
        display: none;
    }
    .btnMob{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .btnMob .btnn{ 
    background: hsl(322, 100%, 66%);
    text-transform: capitalize;
    padding: 10px 0 10px 0;
    font-size: 12px;
    color: white;
    width: 78%;
    }
    .img{
        width: 90%;
    }
    img{
        width: 100%;
    }
    main{
        height: 1560px;
    }
    .main{
        height: 1560px;
        width: 89%;
    }
    .main2{
        flex-direction: column;
        justify-content: space-evenly;
        height: 480px;
    }
    .main2 h1{
        font-size: 19px;
        text-align: center;
    }
    
    .main1{
        flex-direction: column;
        justify-content: space-evenly;
        height: 480px;
    }
    .main1 h1{
        font-size: 19px;
        text-align: center;
    }
    .main .text{
        width: 85%;
        height: 155px;
        margin: 0;
        align-items: center;

    }
    .main .text .txt{
        width: 100%;
        /* height: 155px;/ */
    }
    .glow .txt{
        height: 135px;
    }
    
    .flowing .txt{
        height: 118px;
    }
    .main .pip{
        display: none;
    }
    .main .txt .mainP{
        display: flex;
        flex-direction: column;
        font-size: 11.7px;
        text-align: center;
    }
    .main .imgGlow{
        width: 72%;
        height: 200px;
        margin-right: 0;
    }
    .main .imgGlow2{
        width: 72%;
        height: 200px;
        margin-left: 0;
    }
    main{
        top: 55px;
    }
    .conRea{
        top:150px;
        height: 140px;
    }
    .ready{
        width: 90%;
        height: 140px;
    }
    .ready h1{
        font-size: 13.5px;
    }
    .btnn .btn{
        padding: 12px 0 12px 0;
        width: 70%;
        font-size: 10px;
    }
    footer{
        top: 90px;
        height: 780px;
        justify-content: flex-end;
        flex-direction: column;
    }
    .contain{
        flex-direction: column;
        height: 640px;
        justify-content: space-between;
    }
    .hud{
        width: 100%;
        height:220px ;
    }
    .hud #imgg{
        width: 155px;
        height: 24px;
    }
    .abt{
        width: 100%;
        height:240px ;
    }
    .social{
        width: 100%;
        height:70px ;
    }
    .ic p{
        font-size: 12px;
        width: 100%;
    }
    .hud .ic p{
        width: 90%;
    }
    .hud img{
        width: 10px;
        height: 14px;
    }
    .hud .phn img{
        width: 14px;
        height: 14px;
    }
    .hud .email img{
        width: 16px;
        height: 14px;
    }
    .conAbt{
        flex-direction: column;
        font-size: 14px;
        height:210px ;
    }
    #lii{
        margin-bottom: 0;
    }
    .soc{
        width: 100%;
    }
    .soc .logoSoc{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .logoSoc .logg{
        width: 40%;
    }
    .logg li{
        margin-bottom: 0;
    }
    .logoo{
    width: 15px;
    height: 15px;
    }
    .cop p {
        font-size: 11px;
        text-align: center;
    }
    .cha{
        flex-direction: column;
        justify-content: flex-end;
        display: flex;
    }
    .cha p{
        font-size: 8px;
        text-align: center;
        color: white;
    }
    .cha span a{
        color:hsl( 208, 11%, 55%);
        text-decoration: none;
    }
  }
  